
.panel {
border:solid black 3px;
border-radius: 3px;
margin: 5px;

}
.panel-heading {

    font-size: 20px;
    padding: 6px 0;
    border-radius:3px;
    color: white ;
    background-image: linear-gradient(to right, #0066ff , #3385ff);
}
.select {
    font-size: 25px;
}
.select1 {
    font-size: 35px;
}
